{{#each workout}}
  <h1>{{cardio_desc}}</h1>
  <h2>{{cardio_date}}</h2>
  {{#if cardio_duration}}
    {{cardio_duration}}
  {{/if}}
  {{#if cardio_duration}}
    {{cardio_duration}}
  {{/if}}
  {{#if cardio_distance}}
    {{cardio_distance}}
  {{/if}}
  {{#if cardio_notes}}
    {{cardio_notes}}
  {{/if}}
{{/each}}
