
<h4>{{cardio_date}}</h4>
<div>
  <input class="form-control" type="hidden" name=workout[cardio_date] placeholder="Cardio Date"value="{{cardio_date}}">
</div>
<div>
  Workout Description: <input class="form-control" type="text" name=workout[cardio_desc] placeholder="Description of Workout" value="{{cardio_desc}}" />
</div>
<div>
  Workout Duration: <input class="form-control" type="number" name=workout[cardio_duration] value="{{cardio_duration}}">
</div>
<div>
  Workout Distance: <input class="form-control" type="number" name=workout[cardio_distance] value="{{cardio_distance}}">
</div>
<div>
  Workout Notes: <input class="form-control" type="text" name=workout[cardio_notes] value="{{cardio_notes}}">
</div>
