
<h4>{{cardio_date}}</h4>
  <input type="hidden" name=workout[cardio_date] value={{cardio_date}}><br>
<!-- <h4> -->
  Workout Description: <input type="text" name=workout[cardio_desc] value={{cardio_desc}}><br>
<!-- </h4> -->
<!-- {{#if cardio_duration}} -->
  Workout Duration: <input type="number" name=workout[cardio_duration] value={{cardio_duration}}><br>
<!-- {{/if}} -->
<!-- {{#if cardio_distance}} -->
  Workout Distance: <input type="number" name=workout[cardio_distance] value={{cardio_distance}}><br>
<!-- {{/if}}
{{#if cardio_notes}} -->
  Workout Notes: <input type="text" name=workout[cardio_notes] value={{cardio_notes}}><br>
<!-- {{/if}} -->
